version: "3.9"

services:
  backend:
    build: ./server
    container_name: mern-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/todos
    depends_on:
      - mongo
    networks:
      - mern-network

  frontend:
    build: ./client
    container_name: mern-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mern-network

  mongo:
    image: mongo:6
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mern-network

volumes:
  mongo_data:

networks:
  mern-network:
